body {
	background-color:#ffffff;
	padding: 0;
	margin: 0;
}

.header {
	margin: 0;
	padding: 0;
	height: 50px;
	width: 100%;
	background-color: #de0042;
}

#img {
	height: 40px;
	width: auto;
	position: absolute;
	top: 25px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#tweet {
	font-family: "Comic Sans MS";
	margin: 0;
	padding: 0;
	height: 25%;
	width: 35%;
	background-color: #dddddd;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#opt1 {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	background-color: #4eacfc;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 38.5%;
	top: 52%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#opt2 {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	background-color: #4eacfc;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 52%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#opt3 {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	background-color: #4eacfc;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 61.5%;
	top: 52%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#opt4 {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	background-color: #4eacfc;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 38.5%;
	top: 57.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#opt5 {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	background-color: #4eacfc;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 57.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#opt6 {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	background-color: #4eacfc;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 61.5%;
	top: 57.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#opt1:hover {
	background-color: #67b9ff;
}

#opt2:hover {
	background-color: #67b9ff;
}

#opt3:hover {
	background-color: #67b9ff;
}

#opt4:hover {
	background-color: #67b9ff;
}

#opt5:hover {
	background-color: #67b9ff;
}

#opt6:hover {
	background-color: #67b9ff;
}

#user {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	position: absolute;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 50px;
	top: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Comic Sans MS";
}

#score {
	margin: 0;
	padding: 0;
	height: 5%;
	width: 12%;
	position: absolute;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 150px;
	top: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Comic Sans MS";
}